ol {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.ui-step {
	color: #b7b7b7;
	padding: 0 60px;
	margin-bottom: 35px;
	position: relative;
}
.ui-step:after {
	display: block;
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.ui-step li {
	float: left;
	position: relative;
}
.ui-step .step-end {
	width: 120px;
	position: absolute;
	top: 0;
	right: -60px;
}
.ui-step-line {
	height: 5px;
	background-color: #e0e0e0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	margin-top: 15px;
}
.step-end .ui-step-line { display: none; }
.ui-step-cont {
	width: 145px;
	position: absolute;
	top: 0;
	left: -15px;
	text-align: center;
}
.ui-step-cont-number {
	display: inline-block;
*zoom:1;
	position: absolute;
	left: 0;
	top: 0;
	width: 34px;
	height: 34px;
	line-height: 32px;
	color: #fff;
	background: url(../../assets/images/ui-step_cover_30x30.png) center no-repeat\9;
	border-radius: 50%;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border: 2px solid rgba(224,224,224,1);
	font-family: tahoma;
	font-weight: bold;
	font-size: 16px;
	background-color: #b9b9b9;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
}
.ui-step-cont-text {
	position: relative;
	top: 34px;
	left: -56px;
	font-size: 12px;
}
/** 步骤数定义 **/
.ui-step-3 li { width: 50%; }
.ui-step-4 li { width: 33.3%; }
.ui-step-5 li { width: 25%; }
.ui-step-6 li { width: 20%; }
/** The default style (默认风格) **/
/* Done */
.step-done .ui-step-cont-number { background-color: #4C87B9; }
.step-done .ui-step-cont-text { color: #56859C; }
.step-done .ui-step-line { background-color: #3F87C5; }
/* Active */
.step-active .ui-step-cont-number { background-color: #1673ba; }
.step-active .ui-step-cont-text {
	color: #1673ba;
	font-weight: bold;
}
.step-active .ui-step-line { background-color: #e0e0e0; }